/* Reset */
html,
body {
  margin: 0;
  padding: 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
}

/* Header / Navbar */
header {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: transparent;
  padding: 33px;
}

.navlist {
  display: flex;
}

.navlist a {
  color: white;
  margin-left: 60px;
  font-size: 15px;
  font-weight: 600;
  border-bottom: 2px solid transparent;
  transition: all 0.55s ease;
}

.navlist a:hover {
  border-bottom: 2px solid white;
}

.navlist li {
  list-style-type: none;
}

#menu-icon {
  color: white;
  font-size: 35px;
  z-index: 10001;
  cursor: pointer;
  display: none;
}

/* Hero Section */
.hero {
  position: relative;
  height: 100vh;
  background: url("assets/images/images_hero.jpg") no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  overflow: hidden;
}
.hero-content h1 {
  font-size: 70px;
  font-family: "Permanent Marker", cursive;
}
.hero-content p {
  font-size: 20px;
}

/* Wave */
.wave-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave-bottom svg {
  display: block;
  width: 100%;
  height: 50%; /* Bisa kamu ubah sesuai selera */
}

/* Konten Lanjutan */
.content-section {
  background-color: white;
  padding: 80px 20px;
  text-align: center;
}

/* button */
.button {
  --background: #0069ff;
  --background-hover: #0069cc;
  --text: #fff;
  --icon: #fff;
  display: flex;
  outline: none;
  cursor: pointer;
  border: 0;
  margin: 20px auto 0 auto;
  min-width: 113px;
  padding: 9px 20px 9px 12px;
  border-radius: 11px;
  line-height: 24px;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  overflow: hidden;
  color: var(--text);
  background: var(--b, var(--background));
  transition: transform 0.3s, background 0.4s;
  transform: scale(var(--scale, 1)) translateZ(0);
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  &:active {
    --scale: 0.95;
  }
  &:hover {
    --b: var(--background-hover);
  }
  .icon,
  span {
    display: inline-block;
    vertical-align: top;
    transform: translateZ(0);
  }
  .icon {
    width: 24px;
    height: 24px;
    position: relative;
    z-index: 1;
    margin-right: 8px;
    color: var(--text);
    svg {
      width: 96px;
      height: 96px;
      display: block;
      position: absolute;
      left: -36px;
      top: -36px;
      will-change: transform;
      fill: var(--icon);
      transform: scale(0.254) translateZ(0);
      animation: var(--name, var(--name-top, none)) 2200ms ease forwards;
      &.bottom {
        --name: var(--name-bottom, none);
      }
    }
  }
  span {
    animation: var(--name-text, none) 2200ms ease forwards;
  }
  &.delete {
    --name-top: trash-top;
    --name-bottom: trash-bottom;
    --name-text: text;
  }
}

@keyframes trash-bottom {
  25%,
  32% {
    transform: translate(32px, 19px) scale(1) translateZ(0);
  }
  70%,
  80% {
    transform: translate(32px, 0) scale(0.254) translateZ(0);
  }
  100% {
    transform: scale(0.254) translateZ(0);
  }
}

@keyframes trash-top {
  25%,
  32% {
    transform: translate(38px, 4px) scale(1) rotate(-20deg) translateZ(0);
  }
  70%,
  80% {
    transform: translate(32px, 0) scale(0.254) translateZ(0);
  }
  100% {
    transform: scale(0.254) translateZ(0);
  }
}

@keyframes text {
  25% {
    transform: translate(-4px, -4px) rotate(-20deg) translateZ(0);
  }
  70% {
    opacity: 1;
    transform: translate(-12px, 48px) rotate(-80deg) scale(0.2) translateZ(0);
  }
  71% {
    opacity: 0;
  }
  72%,
  90% {
    opacity: 0;
    transform: translateZ(0);
  }
  100% {
    opacity: 1;
  }
}

/* navbar start */
.menu-bar {
  border-radius: 25px;
  height: fit-content;
  display: inline-flex;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  align-items: center;
  padding: 0 10px;
  li {
    list-style: none;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    padding: 12px 16px;
    margin: 0 8px;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    &::before {
      content: " ";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: -1;
      transition: 0.2s;
      border-radius: 25px;
    }
    &:hover {
      &::before {
        background: linear-gradient(to bottom, #e8edec, #d2d1d3);
        box-shadow: 0px 3px 20px 0px black;
        transform: scale(1.2);
      }
      color: black;
    }
    &:hover a {
      color: black;
    }
  }
}
.menu-bar a {
  color: white;
}
/* navbar end */
/* navbar pertama kali masuk */
.menu-bar li.active {
  color: black;
}
.menu-bar li.active a {
  color:black}

.menu-bar li.active::before {
  background: linear-gradient(to bottom, #e8edec, #d2d1d3);
  box-shadow: 0px 3px 20px 0px black;
  transform: scale(1.2);
  transition: 0.3s ease-in-out;
  border-radius: 25px;
  z-index: -1;
}
/* crousel */
@layer base, demo;
@import url(https://fonts.bunny.net/css?family=abel:400);

@layer demo {
  .carousel {
    --items: 6;
    --carousel-duration: 40s;
    @media (width > 600px) {
      --carousel-duration: 30s;
    }
    --carousel-width: min(
      80vw,
      1200px
    ); /* note - it will "break" if it gets too wide and there aren't enough items */
    --carousel-item-width: 280px;
    --carousel-item-height: 450px;
    --carousel-item-gap: 2rem;

    --clr-cta: rgb(0, 132, 209);

    position: relative;
    width: var(--carousel-width);
    height: var(--carousel-item-height);
    margin: 3rem auto 0 auto;
    overflow: clip;

    &[mask] {
      /* fade out on sides */
      mask-image: linear-gradient(
        to right,
        transparent,
        black 10% 90%,
        transparent
      );
    }

    &[reverse] > article {
      animation-direction: reverse;
    }
    /* hover pauses animation */
    &:hover > article {
      animation-play-state: paused;
    }
  }
  .carousel > article {
    position: absolute;
    top: 0;
    left: calc(100% + var(--carousel-item-gap));
    width: var(--carousel-item-width);
    height: var(--carousel-item-height);
    display: grid;
    grid-template-rows: 200px auto 1fr auto;
    gap: 0.25rem;
    border: 1px solid light-dark(rgba(0 0 0 / 0.25), rgba(255 255 255 / 0.15));

    padding-block-end: 1rem;
    border-radius: 10px;
    background: light-dark(white, rgba(255 255 255 / 0.05));
    color: light-dark(rgb(49, 65, 88), white);

    /* animation */
    will-change: transform;
    animation-name: marquee;
    animation-duration: var(--carousel-duration);
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: calc(
      var(--carousel-duration) / var(--items) * 1 * var(--i) * -1
    );
    &:nth-child(1) {
      --i: 0;
    }
    &:nth-child(2) {
      --i: 1;
    }
    &:nth-child(3) {
      --i: 2;
    }
    &:nth-child(4) {
      --i: 3;
    }
    &:nth-child(5) {
      --i: 4;
    }
    &:nth-child(6) {
      --i: 5;
    }
    &:nth-child(7) {
      --i: 6;
    }
    &:nth-child(8) {
      --i: 7;
    }
  }
  .carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    border-radius: 10px 10px 0 0;
  }
  .carousel > article > *:not(img) {
    padding: 0 1rem;
  }
  .carousel > article > div {
    grid-row: span 2;
    display: grid;
    grid-template-rows: subgrid;
    font-size: 0.8rem;
  }
  .carousel > article h2 {
    font-size: 1.2rem;
    font-weight: 300;
    padding-block: 0.75rem 0.25rem;
    margin: 0;
  }
  .carousel > article p {
    margin: 0;
  }
  .carousel > article a {
    text-decoration: none;
    text-transform: lowercase;
    border: 1px solid var(--clr-cta);
    color: light-dark(var(--clr-cta), white);
    border-radius: 3px;
    padding: 0.25rem 0.5rem;
    place-self: start;
    transition: 150ms ease-in-out;
    &:hover,
    &:focus-visible {
      background-color: var(--clr-cta);
      color: white;
      outline: none;
    }
  }

  @keyframes marquee {
    100% {
      transform: translateX(
        calc(
          (
              var(--items) *
                (var(--carousel-item-width) + var(--carousel-item-gap))
            ) * -1
        )
      );
    }
  }
}
.section-content {
  padding: 90px 20px 110px 0;
}

.cta-background {
  background-size: cover;
  background-position: center center;
  bottom: 0;
  filter: blur(50px);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: -1;
}

.container {
  align-items: center;
  display: flex;
  background-color: #2751ac;
  height: 79vh;
  justify-content: center;
}

.cta {
  background: #333;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
  height: 250px;
  overflow: hidden;
  position: relative;
  width: 500px;

  &:hover {
    img {
      top: -10%;
      filter: brightness(70%);
    }

    .text {
      bottom: 0;
    }
  }

  img {
    bottom: 0;
    filter: brightness(100%);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.5s ease-in-out;
    width: 115%;
  }

  .text {
    bottom: -40%;
    padding: 15px;
    position: absolute;
    transition: 0.5s ease-in-out;

    h2 {
      color: #fff;
      display: inline-block;
      font-weight: 300;
      margin-bottom: 5px;
      position: relative;
    }

    p {
      color: #fff;
      font-weight: 300;
    }
  }
}

/* grid konten */
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 kolom */
  gap: 16px; /* Jarak antar kotak */
}
/* gambar bergerak */
.parallax {
  background-image: url("assets/images/bergerak2.jpg");
  height: 120vh;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
}

.content {
  padding: 5rem;
  background: white;
}
.wave-bottom-2 {
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave-bottom-2 svg {
  display: block;
  width: 100%;
  height: 50%; /* Bisa kamu ubah sesuai selera */
}

/* footer css */
.footer {
  background: linear-gradient(to right, #00519c);
  color: #1a1a1a;
  font-family: "Inter", sans-serif;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  gap: 2rem;
}

.footer-brand h2 {
  font-size: 2rem;
  color: #fff;
}

.footer-brand p {
  max-width: 300px;
  color: #f0f0f0;
}

.footer-links h3,
.footer-contact h3 {
  margin-bottom: 1rem;
  color: #fff;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li {
  margin-bottom: 0.5rem;
}

.footer-links ul li a {
  text-decoration: none;
  color: #fefefe;
  transition: color 0.3s;
}

.footer-links ul li a:hover {
  color: #333;
}

.footer-contact p {
  margin-bottom: 0.5rem;
  color: #fefefe;
}

.footer-bottom {
  text-align: center;
  padding-top: 1rem;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  margin-top: 2rem;
  color: #f0f0f0;
  font-size: 0.9rem;
}

/* Responsive */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-links,
  .footer-contact,
  .footer-brand {
    width: 100%;
  }
}
/*  */
.cta-2 {
  background: #333;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
  height: 350px;
  overflow: hidden;
  margin-left: auto;
  position: relative;
  margin-top: 30px;
  width: 300px;

  &:hover {
    img {
      top: -10%;
      filter: brightness(70%);
    }

    .text {
      bottom: 0;
    }
  }

  img {
    bottom: 0;
    filter: brightness(100%);
    left: 0;

    position: absolute;
    right: 0;
    top: 0;
    transition: 0.5s ease-in-out;
    width: 115%;
  }

  .text {
    bottom: -40%;
    padding: 15px;
    position: absolute;
    transition: 0.5s ease-in-out;

    h2 {
      color: #fff;
      display: inline-block;
      font-weight: 300;
      margin-bottom: 5px;
      position: relative;
    }

    p {
      color: #fff;
      font-weight: 300;
    }
  }
}
.cta-2-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 kolom */
  max-width: 740px;
  margin-left: auto;
  padding-right: 80px;
  padding-top: 50px;
}

/* Halaman Tentang */
.history-section {
  max-width: 900px;
  margin: 60px auto;
  /* text-align: center; */
  padding: 0 20px;
}

.history-section h2 {
  font-size: 28px;
  text-align: left;
  padding-left: 10px; 
  font-weight: normal;
  margin-bottom: 30px;
}

.history-title {
  text-align: left;
  padding-top: 50px;
  padding-left: 180px; /* jarak dari kiri */
  font-size: 25px;
  font-weight: normal;
  padding-top: 10px;          /* jarak antara garis dan teks */
  width: fit-content;         /* agar garis sesuai panjang teks */
  margin-bottom: 30px;
}

/* Warna dan bold untuk span */
.history-title span {
  font-weight: bold;
  display: inline-block;
  color: #0069ff;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  margin: 0 auto; 
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
.title-container {
  text-align: center;
  position: relative;
  padding-top: 80px;
}

.history-title::before {
  content: "";
  display: block;
  width: 90px;          /* Panjang garis */
  height: 4px;          /* Ketebalan garis */
  background-color: #0069ff;
  margin: 0 0 5px 0; /* Tengah + jarak bawah */
}

body {
  --background-color: #18181B;
  --text-color: #A1A1AA;

  --card-background-color: rgba(255, 255, 255, .015);
  --card-border-color: rgba(255, 255, 255, 0.1);
  --card-box-shadow-1: rgba(0, 0, 0, 0.05);
  --card-box-shadow-1-y: 3px;
  --card-box-shadow-1-blur: 6px;
  --card-box-shadow-2: rgba(0, 0, 0, 0.1);
  --card-box-shadow-2-y: 8px;
  --card-box-shadow-2-blur: 15px;
  --card-label-color: #FFFFFF;
  --card-icon-color: #D4D4D8;
  --card-icon-background-color: rgba(255, 255, 255, 0.08);
  --card-icon-border-color: rgba(255, 255, 255, 0.12);
  --card-shine-opacity: .1;
  --card-shine-gradient: conic-gradient(from 205deg at 50% 50%, rgba(16, 185, 129, 0) 0deg, #10B981 25deg, rgba(52, 211, 153, 0.18) 295deg, rgba(16, 185, 129, 0) 360deg);
  --card-line-color: #2A2B2C;
  --card-tile-color: rgba(16, 185, 129, 0.05);

  --card-hover-border-color: rgba(255, 255, 255, 0.2);
  --card-hover-box-shadow-1: rgba(0, 0, 0, 0.04);
  --card-hover-box-shadow-1-y: 5px;
  --card-hover-box-shadow-1-blur: 10px;
  --card-hover-box-shadow-2: rgba(0, 0, 0, 0.3);
  --card-hover-box-shadow-2-y: 15px;
  --card-hover-box-shadow-2-blur: 25px;
  --card-hover-icon-color: #0069ff;
  --card-hover-icon-background-color: rgba(52, 211, 153, 0.1);
  --card-hover-icon-border-color: rgba(52, 211, 153, 0.2);

  --blur-opacity: .01;

  &.light {
    --background-color: #FAFAFA;
    --text-color: #52525B;

    --card-background-color: transparent;
    --card-border-color: rgba(24, 24, 27, 0.08);
    --card-box-shadow-1: rgba(24, 24, 27, 0.02);
    --card-box-shadow-1-y: 3px;
    --card-box-shadow-1-blur: 6px;
    --card-box-shadow-2: rgba(24, 24, 27, 0.04);
    --card-box-shadow-2-y: 2px;
    --card-box-shadow-2-blur: 7px;
    --card-label-color: #18181B;
    --card-icon-color: #18181B;
    --card-icon-background-color: rgba(24, 24, 27, 0.04);
    --card-icon-border-color: rgba(24, 24, 27, 0.1);
    --card-shine-opacity: .3;
    --card-shine-gradient: conic-gradient(from 225deg at 50% 50%, rgba(16, 185, 129, 0) 0deg, #10B981 25deg, #EDFAF6 285deg, #FFFFFF 345deg, rgba(16, 185, 129, 0) 360deg);
    --card-line-color: #E9E9E7;
    --card-tile-color: rgba(16, 185, 129, 0.08);

    --card-hover-border-color: rgba(24, 24, 27, 0.15);
    --card-hover-box-shadow-1: rgba(24, 24, 27, 0.05);
    --card-hover-box-shadow-1-y: 3px;
    --card-hover-box-shadow-1-blur: 6px;
    --card-hover-box-shadow-2: rgba(24, 24, 27, 0.1);
    --card-hover-box-shadow-2-y: 8px;
    --card-hover-box-shadow-2-blur: 15px;
    --card-hover-icon-color: #18181B;
    --card-hover-icon-background-color: rgba(24, 24, 27, 0.04);
    --card-hover-icon-border-color: rgba(24, 24, 27, 0.34);

    --blur-opacity: .1;
  }

  &.toggle .grid * {
    transition-duration: 0s !important;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 240px);
  grid-gap: 32px;
  position: relative;
  justify-content: center;
  z-index: 1;
}

.card {
  background-color: var(--background-color);
  box-shadow: 0px var(--card-box-shadow-1-y) var(--card-box-shadow-1-blur) var(--card-box-shadow-1), 0px var(--card-box-shadow-2-y) var(--card-box-shadow-2-blur) var(--card-box-shadow-2), 0 0 0 1px var(--card-border-color);
  padding: 56px 16px 16px 16px;
  border-radius: 15px;
  cursor: pointer;
  position: relative;
  transition: box-shadow .25s;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 15px;
    background-color: var(--card-background-color);
  }

  .icon {
    z-index: 2;
    position: relative;
    display: table;
    padding: 8px;

    &::after {
      content: '';
      position: absolute;
      inset: 4.5px;
      border-radius: 50%;
      background-color: var(--card-icon-background-color);
      border: 1px solid var(--card-icon-border-color);
      backdrop-filter: blur(2px);
      transition: background-color .25s, border-color .25s;
    }

    svg {
      position: relative;
      z-index: 1;
      display: block;
      width: 24px;
      height: 24px;
      transform: translateZ(0);
      color: var(--card-icon-color);
      transition: color .25s;
    }
  }

  h4 {
    z-index: 2;
    position: relative;
    margin: 12px 0 4px 0;
    font-family: inherit;
    font-weight: 600;
    font-size: 14px;
    line-height: 2;
    color: var(--card-label-color);
  }

  p {
    z-index: 2;
    position: relative;
    margin: 0;
    font-size: 14px;
    line-height: 1.7;
    color: var(--text-color);
  }

  .shine {
    border-radius: inherit;
    position: absolute;
    inset: 0;
    z-index: 1;
    overflow: hidden;
    opacity: 0;
    transition: opacity .5s;

    &:before {
      content: '';
      width: 150%;
      padding-bottom: 150%;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      bottom: 55%;
      filter: blur(35px);
      opacity: var(--card-shine-opacity);
      transform: translateX(-50%);
      background-image: var(--card-shine-gradient);
    }
  }

  .background {
    border-radius: inherit;
    position: absolute;
    inset: 0;
    overflow: hidden;
    -webkit-mask-image: radial-gradient(circle at 60% 5%, black 0%, black 15%, transparent 60%);
    mask-image: radial-gradient(circle at 60% 5%, black 0%, black 15%, transparent 60%);

    .tiles {
      opacity: 0;
      transition: opacity .25s;

      .tile {
        position: absolute;
        background-color: var(--card-tile-color);
        animation-duration: 8s;
        animation-iteration-count: infinite;
        opacity: 0;

        &.tile-4,
        &.tile-6,
        &.tile-10 {
          animation-delay: -2s;
        }

        &.tile-3,
        &.tile-5,
        &.tile-8 {
          animation-delay: -4s;
        }

        &.tile-2,
        &.tile-9 {
          animation-delay: -6s;
        }

        &.tile-1 {
          top: 0;
          left: 0;
          height: 10%;
          width: 22.5%;
        }

        &.tile-2 {
          top: 0;
          left: 22.5%;
          height: 10%;
          width: 27.5%;
        }

        &.tile-3 {
          top: 0;
          left: 50%;
          height: 10%;
          width: 27.5%;
        }

        &.tile-4 {
          top: 0;
          left: 77.5%;
          height: 10%;
          width: 22.5%;
        }

        &.tile-5 {
          top: 10%;
          left: 0;
          height: 22.5%;
          width: 22.5%;
        }

        &.tile-6 {
          top: 10%;
          left: 22.5%;
          height: 22.5%;
          width: 27.5%;
        }

        &.tile-7 {
          top: 10%;
          left: 50%;
          height: 22.5%;
          width: 27.5%;
        }

        &.tile-8 {
          top: 10%;
          left: 77.5%;
          height: 22.5%;
          width: 22.5%;
        }

        &.tile-9 {
          top: 32.5%;
          left: 50%;
          height: 22.5%;
          width: 27.5%;
        }

        &.tile-10 {
          top: 32.5%;
          left: 77.5%;
          height: 22.5%;
          width: 22.5%;
        }
      }
    }

    @keyframes tile {

      0%,
      12.5%,
      100% {
        opacity: 1;
      }

      25%,
      82.5% {
        opacity: 0;
      }
    }

    .line {
      position: absolute;
      inset: 0;
      opacity: 0;
      transition: opacity .35s;

      &:before,
      &:after {
        content: '';
        position: absolute;
        background-color: var(--card-line-color);
        transition: transform .35s;
      }

      &:before {
        left: 0;
        right: 0;
        height: 1px;
        transform-origin: 0 50%;
        transform: scaleX(0);
      }

      &:after {
        top: 0;
        bottom: 0;
        width: 1px;
        transform-origin: 50% 0;
        transform: scaleY(0);
      }

      &.line-1 {
        &:before {
          top: 10%;
        }

        &:after {
          left: 22.5%;
        }

        &:before,
        &:after {
          transition-delay: .3s;
        }
      }

      &.line-2 {
        &:before {
          top: 32.5%;
        }

        &:after {
          left: 50%;
        }

        &:before,
        &:after {
          transition-delay: .15s;
        }
      }

      &.line-3 {
        &:before {
          top: 55%;
        }

        &:after {
          right: 22.5%;
        }
      }
    }
  }

  &:hover {
    box-shadow: 0px 3px 6px var(--card-hover-box-shadow-1), 0px var(--card-hover-box-shadow-2-y) var(--card-hover-box-shadow-2-blur) var(--card-hover-box-shadow-2), 0 0 0 1px var(--card-hover-border-color);

    .icon {
      &::after {
        background-color: var(--card-hover-icon-background-color);
        border-color: var(--card-hover-icon-border-color);
      }

      svg {
        color: var(--card-hover-icon-color);
      }
    }

    .shine {
      opacity: 1;
      transition-duration: .5s;
      transition-delay: 0s;
    }

    .background {

      .tiles {
        opacity: 1;
        transition-delay: .25s;

        .tile {
          animation-name: tile;
        }
      }

      .line {
        opacity: 1;
        transition-duration: .15s;

        &:before {
          transform: scaleX(1);
        }

        &:after {
          transform: scaleY(1);
        }

        &.line-1 {

          &:before,
          &:after {
            transition-delay: .0s;
          }
        }

        &.line-2 {

          &:before,
          &:after {
            transition-delay: .15s;
          }
        }

        &.line-3 {

          &:before,
          &:after {
            transition-delay: .3s;
          }
        }
      }
    }
  }
}

.day-night {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  opacity: .3;

  input {
    display: none;

    &+div {
      border-radius: 50%;
      width: 20px;
      height: 20px;
      position: relative;
      box-shadow: inset 8px -8px 0 0 var(--text-color);
      transform: scale(1) rotate(-2deg);
      transition: box-shadow .5s ease 0s, transform .4s ease .1s;

      &:before {
        content: '';
        width: inherit;
        height: inherit;
        border-radius: inherit;
        position: absolute;
        left: 0;
        top: 0;
        transition: background-color .3s ease;
      }

      &:after {
        content: '';
        width: 6px;
        height: 6px;
        border-radius: 50%;
        margin: -3px 0 0 -3px;
        position: absolute;
        top: 50%;
        left: 50%;
        box-shadow: 0 -23px 0 var(--text-color), 0 23px 0 var(--text-color), 23px 0 0 var(--text-color), -23px 0 0 var(--text-color), 15px 15px 0 var(--text-color), -15px 15px 0 var(--text-color), 15px -15px 0 var(--text-color), -15px -15px 0 var(--text-color);
        transform: scale(0);
        transition: all .3s ease;
      }
    }

    &:checked+div {
      box-shadow: inset 20px -20px 0 0 var(--text-color);
      transform: scale(.5) rotate(0deg);
      transition: transform .3s ease .1s, box-shadow .2s ease 0s;

      &:before {
        background: var(--text-color);
        transition: background-color .3s ease .1s;
      }

      &:after {
        transform: scale(1);
        transition: transform .5s ease .15s;
      }
    }
  }
}

.hero-section-2 {
  background-image: url('/assets/models/modelss.png');
  background-size: cover;         /* Gambar menutupi area */
  background-position: bottom;    /* Fokus di tengah gambar */
  height: 100vh;    
  width: 100%;
  
  /* Setengah tinggi layar */
  position: relative;             /* Supaya bisa diisi konten */
}